@import '../variables';
.slider-container{
    max-width: 1000px;;
    height: 390px;
    margin-left: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    img{
        width: 200px;
        height: 300px;
        
    }

}