.root {
  padding: 100px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  span {
    font-size: 64px;
  }
}

.description {
  font-size: 22px;
}

@media (max-width: 645px) {
  .root {
    padding: 30px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    height: 100vh;

    h1 {
      font-size: 30px;
    }

    span {
      font-size: 44px;
    }
  }

  .description {
    font-size: 22px;
  }
}
