.root {
  position: relative;
  @media (max-width: 645px) {
    top: 80px;
    left: 0;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  max-width: 400px;
  border-radius: 10px;
  font-size: 16px;

  @media (max-width: 645px) {
    width: 150px;
    padding: 4px 40px;
    font-size: 12px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;

  @media (max-width: 645px) {
    width: 18px;
    top: 2px;
    left: 10px;
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  @media (max-width: 645px) {
    width: 18px;
    top: 4px;
    right: 10px;
  }

  &:hover {
    opacity: 0.8;
  }
}
